/* SECCION INICIO*/
.lista-navegacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black; }

.lista-navegacion {
  list-style-type: none;
  display: flex;
  gap: 35px;
  justify-content: center;
  font-weight: bold;
  text-transform: capitalize; }

.lista-navegacion li a {
  text-decoration: none;
  color: antiquewhite; }

.logo-fitness {
  width: 200px;
  height: 150px; }

body {
  background-color: #0a0909; }

body {
  background-repeat: no-repeat;
  background-size: cover; }

.video-fitness {
  width: 1800px;
  height: 100%; }

h1 {
  text-align: center;
  color: #500000;
  font-family: impact, sans-serif;
  font-size: 40px; }

h2 {
  text-align: center;
  color: #500000;
  font-family: impact, sans-serif;
  font-size: 40px; }

p {
  color: antiquewhite;
  text-align: center; }

.programa-fitness {
  width: 300px;
  height: 200px;
  margin: 16px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #130202;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.programa-fitness:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px #130202; }

/* FIN SECCION INICIO*/
/* MOBILE FIRST DE INDEX */
#gridKevin {
  display: grid;
  grid-template-areas: "navegacion" "inicio" "programas" "footer"; }

#inicio {
  grid-area: inicio; }

.lista-navegacion {
  display: flex;
  flex-direction: column;
  justify-content: center; }

@media (min-width: 768px) {
  #gridKevin {
    grid-template-areas: "navegacion navegacion navegacion" "inicio incio inicio" "programa programa programas" "footer footer footer"; }
  .lista-navegacion {
    flex-direction: row; } }

#programas {
  grid-area: programas;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 768px) {
  #programas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: inline; } }

@media (min-width: 1024px) {
  #programas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    display: inline; } }

#footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (min-width: 768px) {
  #footer {
    flex-direction: row;
    justify-content: flex-start;
    display: inline; } }

.logo-fitness {
  display: flex;
  flex-direction: column;
  justify-content: center; }

img {
  max-width: 100%; }

.video-fitness {
  max-width: 100%; }

/* FIN DE MOBILE FIRST */
/**** MAPA DE NAVEGACION ****/
#mapa-navegacion {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center; }

#mapa-navegacion {
  background: black; }

/*INICIO SECCION PROGRAMAS (PECHO) */
.caja-programas {
  width: 1500px;
  height: 100%; }

.texto1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-105%, -30%);
  text-shadow: 0 0 8px rgba(129, 121, 121, 0.8);
  animation-iteration-count: infinite;
  animation-duration: 3s; }

/**** INICIO DE PRIMERA CAJA ****/
.temario {
  text-align: left; }

#caja1 {
  background: #505050;
  padding-bottom: 50px;
  margin-bottom: 20px; }

.ejercicios-pecho {
  width: 50%;
  background: #2b0606;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 10px; }

/**** FIN DE PRIMERA CAJA ****/
/** APLICANDO MIXIN A CAJAS **/
.caja2-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.caja3-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

.caja4-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

/** FIN  DE  MIXIN **/
/**** INICIO DE  SEGUNDA CAJA ****/
.press-barra {
  background: #2b0606;
  color: antiquewhite;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px; }

#caja2 {
  background-color: #505050;
  padding-bottom: 70px;
  padding-top: 10px; }

.caja2-flex p {
  background-color: white;
  color: #2b0606;
  font-size: 20px;
  margin: 10px; }

.press-plano {
  width: 700px;
  height: 400px; }

/**** FIN DE SEGUNDA CAJA ****/
/**** INICIO DE TECER CAJA ****/
.press-mancuerna {
  background: #2b0606;
  color: antiquewhite;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  padding-left: 38%; }

#caja3 {
  background-color: #505050;
  padding-bottom: 70px;
  padding-top: 10px; }

.caja3-flex p {
  background-color: white;
  color: #2b0606;
  font-size: 20px;
  margin: 10px; }

.caja3-flex img {
  width: 700px;
  height: 400px; }

/**** FIN DE TERCER CAJA****/
/**** INICIO DE CUARTA CAJA ****/
.press-inclinado {
  background: #2b0606;
  color: antiquewhite;
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
  padding-left: 38%; }

#caja4 {
  background-color: #505050;
  padding-bottom: 70px;
  padding-top: 10px; }

.parrafo1 {
  background-color: white;
  color: #2b0606;
  font-size: 20px;
  margin: 10px; }

#caja4 img {
  width: 600px;
  height: 400px; }

/**** FIN DE CUARTA CAJA ****/
/* FIN SECCION PROGRAMAS (PECHO) */
/*INICIO SECCION PROGRAMAS (PIERNA)*/
.pierna {
  display: flex;
  flex-direction: row-reverse; }

/*FIN SECCION PROGRAMAS (PIERNA)*/
/*INICIO SECCION PROGRAMAS (ESPALDA)*/
.pierna {
  display: flex;
  flex-direction: row-reverse; }

/*FIN SECCION PROGRAMAS (ESPALDA)*/
/*INCIO SECCION PROGRAMAS (HOMBROS)*/
.pierna {
  display: flex;
  flex-direction: row-reverse; }

/*FIN SECCION PROGRAMAS (HOMBROS)*/
/* INICIO DE SECCION NUTRICION */
.imagen-1 {
  width: 600px;
  height: 500px;
  transform: translate(730px); }

.imagen-2 {
  width: 600px;
  height: 500px;
  margin: 5px; }

.imagen-3 {
  width: 600px;
  height: 550px;
  transform: translate(730px); }

/* FIN SECCION NUTRICION */
/* INICIO DE SECCION DE CALCULADORA */
.form {
  color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.form {
  margin: 15px; }

/* FIN DE SECCION NUTRICION*/
/* MOBILE FIRST DE CALCULADORA*/
#calculadora {
  display: grid;
  grid-template-areas: "navegacion" "calculadora" "formulario" "footer"; }

header {
  grid-area: navegacion; }

.kcal {
  grid-area: calculadora; }

.form {
  grid-area: formulario; }

#footer {
  grid-area: footer; }

/* FIN FIRST DE CALCULADORA*/
/* INICIO SECCION DE CONTACTO */
.contacto-1 {
  color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.contacto-1 {
  margin: 15px; }

/* FIN SECCION DE CONTACTO */
/* INICIO DE FOOTER*/
.pie-final {
  color: white;
  background-color: black; }

/* FIN DE FOOTER*/
