/* SECCION INICIO*/
:root {
  --rojo: #490004;
  --fondo: rgb(0, 0, 0); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--fondo); }

.contenedor {
  width: 90%;
  margin: auto; }

header {
  padding: 30px; }

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logotipo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px; }

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px; }

header nav a:hover,
header nav a.activo {
  color: #FFF; }

.lista-navegacion li a {
  color: antiquewhite; }

.inicio {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #05058b; }

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/imagen-inicio.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
  width: 100%; }

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em; }

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em; }

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 90%;
  margin-bottom: 1.25em; }

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em; }

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000; }

.pelicula-principal .boton i {
  margin-right: 1.25em; }

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #05058b; }

.contenedor .posteres {
  display: flex;
  flex-direction: row; }

.posteres {
  width: 200px;
  height: 300px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #01001f;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.contenedor #cartelera {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.posteres:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px #120055; }

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px; }
  header .contenedor {
    flex-direction: column;
    text-align: center; }
  .pelicula-principal {
    font-size: 14px; }
  .pelicula-principal .descripcion {
    max-width: 100%; } }

/*INICIO SECCION MARVEL*/
.lista-navegacion {
  justify-content: space-between; }

header div h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #c70000; }

.marvel-video {
  width: 1400px;
  height: 100%;
  max-width: 100%; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.contenedor-marvel {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.contenedor_tarjeta {
  margin: 20px; }

.contenedor_tarjeta a {
  display: inline-block; }

.contenedor_tarjeta:hover figure {
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25); }

.contenedor_tarjeta:hover figure img {
  filter: blur(2px); }

figure {
  width: 300px;
  height: 350px;
  margin: 0;
  position: relative;
  transition: all ease .5s;
  transform-style: preserve-3d;
  transform: perspective(600px) rotateY(0deg); }

figure .frontal,
figure .trasera {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: all ease .5s; }

figure .frontal {
  display: block;
  background: #000;
  /* Podemos ocultar la imagen al da la vuelta si lo queremos */
  /*backface-visibility: hidden;*/ }

figure .trasera {
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto; }

.contenedor_tarjeta:nth-child(1) figure .trasera {
  background: rgba(223, 234, 241, 0.7);
  background: -moz-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(223, 234, 241, 0.7)), color-stop(100%, #0f6390));
  background: -webkit-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -o-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: -ms-linear-gradient(top, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  background: linear-gradient(to bottom, rgba(223, 234, 241, 0.7) 0%, #0f6390 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfeaf1', endColorstr='#0f6390', GradientType=0 ); }

.contenedor_tarjeta:nth-child(2) figure .trasera {
  background: rgba(251, 232, 202, 0.7);
  background: -moz-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(251, 232, 202, 0.7)), color-stop(100%, #192c48));
  background: -webkit-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -o-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: -ms-linear-gradient(top, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  background: linear-gradient(to bottom, rgba(251, 232, 202, 0.7) 0%, #192c48 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbe8ca', endColorstr='#192c48', GradientType=0 ); }

.contenedor_tarjeta:nth-child(3) figure .trasera {
  background: rgba(95, 58, 53, 0.7);
  background: -moz-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95, 58, 53, 0.7)), color-stop(100%, #dd202f));
  background: -webkit-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -o-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: -ms-linear-gradient(top, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  background: linear-gradient(to bottom, rgba(95, 58, 53, 0.7) 0%, #dd202f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5f3a35', endColorstr='#dd202f', GradientType=0 ); }

figure .trasera .titulo {
  color: #fff;
  font-weight: normal;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px; }

figure .trasera hr {
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: .5; }

figure .trasera p {
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-size: 14px; }

@media screen and (max-width: 992px) {
  figure .trasera {
    /*position: relative;*/
    backface-visibility: visible;
    transform: perspective(600px) rotateY(0deg); }
  .contenedor_tarjeta:hover figure {
    transform: perspective(600px) rotateY(0deg); } }

/* INICIO DE SECCION ANIMES */
.lista-navegacion {
  justify-content: space-between; }

/* FIN SECCION ANIMES */
/* INICIO DE SECCION DE "MI LISTA" */
.lista-navegacion {
  justify-content: space-between; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*
body div .cards{
    background-color: #2d2a41;
    height: 100vh;
    display: grid;
    place-items: center center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding: 20px;
    gap: 40px;
}

.card{
background-color: #44425e;
border-radius: 20px;
box-shadow:0 0 30px rgba(0,0,0,0.18);
}

.container{
    position: relative;
    clip-path: polygon(0 0,100% 0,100%
    85%, 0 100%) ;
}

img{
    width: 100%;
    display: block;
    border-radius:20px 20px 0 0;
}

/* FIN DE SECCION "MI LISTA" */
/* INICIO SECCION DE CONTACTO */
.lista-navegacion {
  justify-content: space-between; }

.contacto-1 {
  color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.contacto-1 {
  margin: 15px; }

/* FIN SECCION DE CONTACTO */
/* INICIO DE FOOTER*/
.pie-final {
  color: white;
  background-color: black; }

/* FIN DE FOOTER*/
