/* SECCION INICIO*/
:root {
  --rojo: #490004;
  --fondo: rgb(0, 0, 0); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--fondo); }

.contenedor {
  width: 90%;
  margin: auto; }

header {
  padding: 30px; }

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logotipo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px; }

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px; }

header nav a:hover,
header nav a.activo {
  color: #FFF; }

.lista-navegacion li a {
  color: antiquewhite; }

.inicio {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #05058b; }

h2 {
  margin: 30px; }

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.pelicula-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/imagen-inicio.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
  width: 100%; }

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em; }

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em; }

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 90%;
  margin-bottom: 1.25em; }

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em; }

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000; }

.pelicula-principal .boton i {
  margin-right: 1.25em; }

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #05058b; }

.posteres {
  width: 200px;
  height: 300px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #01001f;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

.contenedor #cartelera {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.posteres:hover {
  transform: scale(1.1);
  box-shadow: 13px 15px 37px #120055; }

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px; }
  header .contenedor {
    flex-direction: column;
    text-align: center; }
  .pelicula-principal {
    font-size: 14px; }
  .pelicula-principal .descripcion {
    max-width: 100%; } }

/*INICIO SECCION MARVEL*/
.lista-navegacion {
  justify-content: space-between; }

header div h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #c70000; }

.marvel-video {
  width: 1400px;
  height: 100%;
  max-width: 100%; }

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 35vh;
  font-size: 36px;
  text-transform: uppercase; }

.container {
  width: 90%;
  max-width: 1200px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  position: relative; }

.container::after {
  content: "";
  width: 2px;
  height: 100%;
  background: #1b3231;
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  z-index: 1; }

.evento {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
  position: relative; }

.evento::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100px;
  background: #DCDFD9;
  border: 2px solid #1b3231;
  position: absolute;
  z-index: 2;
  top: calc(50% - 9px);
  left: calc(50% - 9px); }

.fecha {
  display: flex;
  align-items: center;
  justify-content: start;
  width: calc(42% + 20px);
  font-size: 32px;
  font-weight: normal; }

.foto {
  width: 42%;
  border: 10px solid #fff;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }

.foto::after {
  content: "";
  display: block;
  border: 20px solid transparent;
  border-left: 20px solid #fff;
  position: absolute;
  right: -50px;
  top: calc(50% - 20px); }

.foto img {
  width: 100%;
  vertical-align: top; }

.evento:nth-child(even) {
  flex-direction: row-reverse; }

.evento:nth-child(even) .fecha {
  justify-content: end; }

.evento:nth-child(even) .foto::after {
  content: "";
  border: 20px solid transparent;
  border-right: 20px solid #fff;
  right: initial;
  left: -50px; }

/* INICIO DE SECCION ANIMES */
.lista-navegacion {
  justify-content: space-between; }

:root {
  --rojo: #490004;
  --fondo: rgb(0, 0, 0); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: var(--fondo); }

.contenedorA {
  width: 90%;
  margin: 80px; }

header {
  padding: 30px; }

header .contenedorA {
  display: flex;
  justify-content: space-between;
  align-items: center; }

header .logotipo {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: normal;
  color: var(--rojo);
  font-size: 40px; }

header nav a {
  color: #AAA;
  text-decoration: none;
  margin-right: 20px; }

header nav a:hover,
header nav a.activo {
  color: #FFF; }

.lista-navegacion li a {
  color: antiquewhite; }

.contenedor .titulo h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #810000; }

/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.anime-principal {
  font-size: 16px;
  min-height: 40.62em;
  color: #fff;
  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/anime-principal2.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: end;
  max-width: 100%; }

.anime-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 6.25em; }

.anime-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em; }

.anime-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 90%;
  margin-bottom: 1.25em; }

.anime-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em;
  cursor: pointer;
  transition: .3s ease all;
  font-size: 1.12em; }

.anime-principal .boton:hover {
  background: #fff;
  color: #000; }

.anime-principal .boton i {
  margin-right: 1.25em; }

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #05058b; }

.animes {
  width: 200px;
  height: 300px;
  margin: 50px;
  border-radius: 20px;
  box-shadow: 5px 8px 12px #01001f;
  cursor: pointer;
  transition: all 0.3s ease-in-out; }

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
  header .logotipo {
    margin-bottom: 10px;
    font-size: 30px; }
  header .contenedorA {
    flex-direction: column;
    text-align: center; }
  .anime-principal {
    font-size: 14px; }
  .anime-principal .descripcion {
    max-width: 100%; } }

/*-------GALERIA-------*/
.portafolio {
  background: #020202; }

.galeria-port {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.imagen-port {
  width: 24%;
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5); }

.imagen-port > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.hover-galeria {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(75, 6, 132, 0.7);
  transition: transform .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.hover-galeria img {
  width: 50px; }

.hover-galeria p {
  color: #fff; }

.imagen-port:hover .hover-galeria {
  transform: scale(1); }

/*------- FIN GALERIA-------*/
.cards .card {
  background: #5a0202;
  display: flex;
  width: 46%;
  height: 200px;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6); }

.cards .card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 3px solid #fff;
  border-radius: 50%;
  display: block; }

.cards .card > .contenido-texto-card {
  width: 60%;
  color: #fff; }

.cards .card > .contenido-texto-card p {
  font-weight: 300;
  padding-top: 5px; }

.cards {
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.cards .card {
  width: 100%; }

.cards .card:first-child {
  margin-bottom: 30px; }

div .card h4 {
  display: flex;
  justify-content: center;
  align-items: center; }

/* FIN SECCION ANIMES */
/* INICIO DE SECCION DE "MI LISTA" */
.lista-navegacion {
  justify-content: space-between; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header .titulo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; }

main .contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto; }

/* Estilos CSS del Reproductor */
.lista1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #949494; }

.lista-video {
  width: 100%;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5); }

.lista-video .vjs-control-bar {
  background: #F4F4F4;
  color: #2d5f85; }

.lista-video .vjs-play-progress,
.lista-video .vjs-volume-level {
  background: #1d87d8; }

.lista-video .vjs-slider {
  background: #2d5f85; }

.video-js:hover .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.2); }

.lista-video .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.2);
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 100%;
  border: none; }

.fm-video .vjs-big-play-button:hover {
  background: rgba(0, 0, 0, 0.5); }

article {
  margin: 50px 0;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 28px;
  padding: 40px; }

article h2 {
  color: #420000;
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 20px; }

@media screen and (max-width: 600px) {
  header {
    position: relative;
    height: auto; }
  main {
    margin-top: 50px; } }

/* FIN DE SECCION "MI LISTA" */
/* INICIO SECCION DE CONTACTO */
.lista-navegacion {
  justify-content: space-between; }

.contacto-1 {
  color: antiquewhite;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }

.contacto-1 {
  margin: 15px; }

/* FIN SECCION DE CONTACTO */
/* INICIO DE FOOTER*/
.contenedor-footer {
  flex-direction: column;
  border: none; }

.content-foo {
  margin-bottom: 20px;
  text-align: center; }

.content-foo h4 {
  border: none; }

.content-foo p {
  color: #ccc;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 20px; }

.titulo-final {
  font-size: 20px; }

/* FIN DE FOOTER*/
