/* INICIO DE SECCION NUTRICION */
.imagen-1{
    width: 600px;
    height: 500px;
    transform: translate(730px);
}

.imagen-2{
    width: 600px;
    height: 500px;
    margin: 5px;
}

.imagen-3{
    width: 600px;
    height: 550px;
    transform: translate(730px);
}
/* FIN SECCION NUTRICION */