/* INICIO SECCION DE CONTACTO */
.lista-navegacion {
    justify-content: space-between; 
}

.contacto-1{
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contacto-1{
    margin: 15px;

}
/* FIN SECCION DE CONTACTO */

/* INICIO DE FOOTER*/
.contenedor-footer{
    flex-direction: column;
    border: none;
}

.content-foo{
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4{
    border: none;
}

.content-foo p{
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.titulo-final{
    font-size: 20px;
}
/* FIN DE FOOTER*/