/* SECCION INICIO*/
.lista-navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.lista-navegacion{
    list-style-type: none;
    display: flex;
    gap: 35px;
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
}

.lista-navegacion li a{
    text-decoration: none;
    color: antiquewhite;
}

.logo-fitness{
    width: 200px;
    height: 150px;
}

body{
    background-color: rgb(10, 9, 9);
}

body{
    background-repeat: no-repeat;
    background-size: cover;
}

.video-fitness{
    width: 1800px;
    height: 100%
} 

h1{
    text-align: center;
    color: rgb(80, 0, 0);
    font-family: impact, sans-serif;
    font-size: 40px;
}

h2{
    text-align: center;
    color: rgb(80, 0, 0);
    font-family: impact, sans-serif;
    font-size: 40px;
}

p{
    color: antiquewhite;
    text-align: center;
}

.programa-fitness{
    width: 300px;
    height: 200px;
    margin: 16px;
    border-radius: 20px;
    box-shadow: 5px 8px 12px rgb(19, 2, 2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.programa-fitness:hover{
    transform: scale(1.1);
    box-shadow: 13px 15px 37px rgb(19, 2, 2);
}
/* FIN SECCION INICIO*/

/* MOBILE FIRST DE INDEX */
#gridKevin{
    display: grid;
    grid-template-areas: 
    "navegacion"
    "inicio"
    "programas"
    "footer";
}

#inicio{
    grid-area: inicio;
}

.lista-navegacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 768px) {
    #gridKevin{
        grid-template-areas: 
        "navegacion navegacion navegacion"
        "inicio incio inicio"
        "programa programa programas"
        "footer footer footer";
    }
    .lista-navegacion{
        flex-direction: row;
    }
    }

#programas{
    grid-area: programas;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    #programas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        display: inline;
    }
    
}

@media (min-width:1024px) {
    #programas{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        display: inline;
    }
    
}

#footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width:768px) {
    #footer{
        flex-direction: row;
        justify-content: flex-start;
        display: inline;
    }
    
}

.logo-fitness{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img{
    max-width: 100%;
}

.video-fitness{
    max-width: 100%;
}
/* FIN DE MOBILE FIRST */