 /*INICIO SECCION PROGRAMAS (PECHO) */
    .caja-programas{
        width: 1500px;
        height: 100%;
    }
    .texto1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 3rem;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-105%, -30%);
        text-shadow: 0 0 8px rgba(129, 121, 121, 0.8);
        animation-iteration-count: infinite;
        animation-duration: 3s;
    }

    /**** INICIO DE PRIMERA CAJA ****/

    .temario{
        text-align: left;
    }

    #caja1{
        background: rgb(80, 80, 80);
        padding-bottom: 50px;
        margin-bottom: 20px;
    }

    .ejercicios-pecho{
        width: 50%;
        background: rgb(43, 6, 6);
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
    }

    .ejercicios-pecho{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    /**** FIN DE SEGUNDA CAJA ****/

    /**** INICIO DE  SEGUNDA CAJA ****/
    .press-barra{
        background: rgb(43, 6, 6);
        color: antiquewhite;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        padding: 20px;
    }

    #caja2{
        background-color:  rgb(80, 80, 80) ;
        padding-bottom: 70px;
        padding-top: 10px;
    }

    .caja2-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja2-flex p{
        background-color: white;
        color: rgb(43, 6, 6) ;
        font-size: 20px;
        margin: 10px;
    }


    .press-plano{
        width: 700px;
        height: 400px;
    }
    /**** FIN DE SEGUNDA CAJA ****/

    /**** INICIO DE TECER CAJA ****/
    .press-mancuerna{
        background: rgb(43, 6, 6);
        color: antiquewhite;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        padding: 20px;
    }

    #caja3{
        background-color:  rgb(80, 80, 80) ;
        padding-bottom: 70px;
        padding-top: 10px;
    }

    .caja3-flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .caja3-flex p{ 
        background-color: white;
        color: rgb(43, 6, 6) ;
        font-size: 20px;
        margin: 10px;
    }

    .caja3-flex img{
        width: 700px;
        height: 400px;
    }
    /**** FIN DE TERCER CAJA****/

    /**** INICIO DE CUARTA CAJA ****/
    .press-inclinado{
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(43, 6, 6);
        color: antiquewhite;
        font-size: 25px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        padding: 20px;
    }

    #caja4{
        background-color:  rgb(80, 80, 80) ;
        padding-bottom: 70px;
        padding-top: 10px;
    }

    
    .parrafo1{ 
    background-color: white;
        color: rgb(43, 6, 6) ;
        font-size: 20px;
        margin: 10px;
    }

    #caja4 img{
        width: 600px;
        height: 400px;
    }
    /**** FIN DE CUARTA CAJA ****/
     /* FIN SECCION PROGRAMAS (PECHO) */
