/*INICIO SECCION PROGRAMAS (PECHO) */
.lista-navegacion{
    justify-content: space-between;
}

header div h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(199, 0, 0);
}

.marvel-video{
    width: 1349px;
    height: 100%
}



/* FIN SECCION PROGRAMAS (PECHO) */
